<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Add Organizations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="dark" size = "full" routerLink = "/god-mode-page" class="Go-Back-Button">Back to Main </ion-button>
  <div class="flex-center"> <ion-card>
    <ion-card-header>
      <ion-card-title> Organization Input</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Organization Name</ion-label>
        <ion-input type="text" [(ngModel)] = "organizationText" ngDefaultControl></ion-input>
        <ion-label position="floating">Organization ID</ion-label>
        <ion-input type="text" [(ngModel)] = "organizationID" ngDefaultControl></ion-input>
      </ion-item> 
      <ion-button color="light" size = "full" (click)="submit()">Submit </ion-button>
      <ion-button color="light" size = "full" (click)="load()">Load </ion-button>

       </ion-card-content>
  </ion-card>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>ID</ion-col>
      <ion-col>API ID</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Created On</ion-col>
      <ion-col>Updated On</ion-col>
    </ion-row>
    <ion-row *ngFor="let organization of organizations">
      <ion-col *ngFor="let org of organization">{{ org }}</ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="key">
    <h1>Name: {{ key.Name}}</h1>
    <h1>ID: {{ key.ID }}</h1>


  </div>

</ion-content>
