<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">User Manager</ion-title>
      <ion-button color="dark" size = "full" routerLink = "/god-mode-page" class="Go-Back-Button">Back to Main </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div> 
      <ion-card>
        <ion-card-header>
          <ion-card-title> User Input </ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)] = "username" ngDefaultControl placeholder="Username"></ion-input>

            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel email [(ngModel)] = "userEmail" ngDefaultControl placeholder="Email"></ion-input>

            <ion-label position="floating">Is Admin</ion-label>
            <ion-checkbox [(ngModel)] = "isAdmin" ngDefaultControl></ion-checkbox>

          </ion-item>
            <ion-item>
              <ion-label position="floating">Organization</ion-label>
              <ion-select [(ngModel)] = "organization" ngDefaultControl (ionChange)="updateOrganization($event)" placeholder="Select the Organization this user is with.">
                <ion-select-option *ngFor="let organization of organizations" [value]="organization.api_id">{{organization.name}}</ion-select-option>
             </ion-select>
            </ion-item>
              

           
          <ion-button color="primary" size = "full" (click)="submit(userEmail, isAdmin, username, organization)">Submit </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-header>Users</ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>ID</ion-col>
        <ion-col>Email</ion-col>
        <ion-col>Username</ion-col>
        <ion-col>Is Admin</ion-col>
        <ion-col>Organization</ion-col>
      </ion-row>
      <ion-row *ngFor="let user of users">
          <ion-col>{{ user.id }}</ion-col>
          <ion-col>{{ user.email}}</ion-col>
          <ion-col>{{ user.username}}</ion-col>
          <ion-col>{{ user.is_admin}}</ion-col>
          <ion-col>{{ getUserOrganization(user.organization_api_id) }}</ion-col>
        <ion-button color="danger" size = "full" (click)="delete(user)"> Delete </ion-button>
      </ion-row>
    </ion-grid>
  </ion-content> 